.body{
    width: 100%;
    height: 100vh;
    background: rgb(0, 6, 83);
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: rgb(112, 87, 255);
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0px;
    outline: 0px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px -5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 5px;
}
form input.click{
    background-color: rgb(12, 1, 173);
}
.click:hover{
    opacity: 0.5;
}
.click:active{
    opacity: 0.3;
}
form div.text{
    display: flex;
    justify-content: center;
    margin: 10px 0px; 
}
form input.box{
    text-align: center;
    flex: 1;
    box-shadow: none;
    background-color: rgb(238, 238, 238);
    color: black;
}
form input.equal{
    width: 133px;
    background-color: rgb(12, 1, 173);
}
.equal:hover{
    opacity: 0.5;
}
.equal:active{
    opacity: 0.3;
}
